In [5]:
import pandas as pd

csv_file = 'austin_restaurant_reviews.csv'
print(csv_file)

df = pd.read_csv(csv_file)
df.head()

austin_restaurant_reviews.csv

,Restaurant,Address,Rating,Review Text,Review Rating,Review Time
0,Franklin Barbecue,"900 E 11th St, Austin, TX 78702, USA",4.7,We got this delivered to our house in Washingt...,5,a month ago
1,Franklin Barbecue,"900 E 11th St, Austin, TX 78702, USA",4.7,100/100 hands down the best bbq in the country...,5,a week ago
2,Franklin Barbecue,"900 E 11th St, Austin, TX 78702, USA",4.7,Franklin Barbecue truly lives up to the hype! ...,5,a month ago
3,Franklin Barbecue,"900 E 11th St, Austin, TX 78702, USA",4.7,Going to Franklin takes a level of commitment ...,5,a week ago
4,Franklin Barbecue,"900 E 11th St, Austin, TX 78702, USA",4.7,Without a doubt the Greatest of All Time!\n\nB...,5,2 weeks ago